body{
	background-color: #151515;
	color: #f1f1f1;
	margin: 0;
	padding: 0;
	font-family:"Trebuchet MS";
}

div {
    width: 100px;
    height: 100px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

button{
	padding: 5px, 10px;
	background-color: #2e2e2e;
	margin: 1px;
	color: #f1f1f1;

}
input {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}